@using Morpho.Web.Models.Common.Modals
@model Morpho.Web.Models.Vehichle.VehicleViewModel
@{
    Layout = null;
}

<div class="modal fade" id="CreateVehicleModal" tabindex="-1" role="dialog" aria-labelledby="CreateVehicleModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml",
            new ModalHeaderViewModel(L("VehicleCreate")))

            <form name="CreateVehicleType" method="post" role="form" class="form-horizontal">

                <div class="modal-body">
                    <!-- VEHICLE TYPE NAME -->
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("vehicletypesid")</label>
                        <div class="col-md-9">
                            <input type="number"
                                   class="form-control"
                                   name="vehicle_types_id"
                                   required
                                   maxlength="250"
                                   placeholder="@L("vehicletypesid")" />
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("vehiclefueltypesid")</label>
                        <div class="col-md-9">
                            <input type="number"
                                   class="form-control"
                                   name="fuel_types_id"
                                   required
                                   maxlength="250"
                                   placeholder="@L("vehiclefueltypesid")" />
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("vehicleunqiueid")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="vehicle_unqiue_id"
                                   required
                                   maxlength="250"
                                   placeholder="@L("vehicleunqiueid")" />
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("vehiclename")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="vehicle_name"
                                   required
                                   maxlength="250"
                                   placeholder="@L("vehiclename")" />
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("vehiclenumber")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="vehicle_number"
                                   required
                                   maxlength="250"
                                   placeholder="@L("vehiclenumber")" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">@L("vehiclemodelname")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="model_name"
                                   maxlength="250"
                                   placeholder="@L("vehiclemodelname")" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">@L("vehiclemanufacturer")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="manufacturer"
                                   maxlength="250"
                                   placeholder="@L("vehiclemanufacturer")" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">@L("vehiclemanufacturingyear")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="manufacturing_year"
                                   maxlength="250"
                                   placeholder="@L("vehiclemanufacturingyear")" />
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("vehiclechassisnumber")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="chassis_number"
                                   required
                                   maxlength="250"
                                   placeholder="@L("vehiclechassisnumber")" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">@L("vehicleenginenumber")</label>
                        <div class="col-md-9">
                            <input type="text"
                                   class="form-control"
                                   name="engine_number"
                                   maxlength="250"
                                   placeholder="@L("vehicleenginenumber")" />
                        </div>
                    </div>
                    <!-- REMARK -->
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">@L("vehicleremark")</label>
                        <div class="col-md-9">
                            <textarea class="form-control"
                                      name="remark"
                                      maxlength="600"
                                      placeholder="@L("vehicleremark")"></textarea>
                        </div>
                    </div>

                </div>

                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

            </form>

        </div>
    </div>
</div>
